# output dir
out

# my conventional filenames for adhoc redirection.
x
y
z
x.*
y.*
z.*

# 'e' is the standard filename I use to send the logs from failing tests
# e.g., somecmd 2>&1 | tee e
e

.ninja_log
a.out
*.so
*.swp
*.swo
